<header-index></header-index>
<main class="main-wrapper">
  <!-- Start Breadcrumb Area  -->
  <div class="axil-breadcrumb-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-8">
                  <div class="inner">
                      <ul class="axil-breadcrumb">
                          <li class="axil-breadcrumb-item"><a href="index.html">Inicio</a></li>
                          <li class="separator"></li>
                          <li class="axil-breadcrumb-item active" aria-current="page">Acerca de nosotros</li>
                      </ul>
                      <h1 class="title">Acerca de nosotros</h1>
                  </div>
              </div>
              <div class="col-lg-6 col-md-4">
                  <div class="inner">
                      <div class="bradcrumb-thumb">
                          <img src="assets/images/product/simbolop.png" alt="Image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumb Area  -->

  <!-- Start About Area  -->
  <div class="axil-about-area about-style-1 axil-section-gap ">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-4 col-lg-6">
                  <div class="about-thumbnail">
                      <div class="thumbnail">
                          <img src="./assets/images/about/metodologia.png" alt="About Us">
                      </div>
                  </div>
              </div>
              <div class="col-xl-8 col-lg-6">
                  <div class="about-content content-right">
                      <span class="title-highlighter highlighter-primary2"> <i class="far fa-address-card"></i>Cultura</span>
                      <h3 class="title">Nuestra metodología</h3>
                      <span class="text-heading">Administración de proyecto bajo metodologías ágiles</span>
                      <div class="row">
                          <div class="col-xl-6">
                              <p>
                                Con nuestra experiencia y enfoque innovador, ayudamos a las empresas a alcanzar sus objetivos
                                en el mundo del desarollo de software
                              </p>
                          </div>
                          <div class="col-xl-6">
                              <p class="mb--0">Nos especializamos en soluciones personalizadas.
                                Nuestro equipo utiliza una suite de herramientas líderes para colaborar de manera eficiente y mantener
                                un flujo de trabajo efectivo.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End About Area  -->

  <!-- Start About Area  -->
  <div class="about-info-area">
      <div class="container">
          <div class="row row--20">
              <div class="col-lg-5">
                  <div class="about-info-box">
                      <div class="thumb">
                          <img src="assets/images/about/programacion.png" alt="Shape">
                      </div>
                      <div class="content">
                          <h6 class="title">Programación</h6>
                          <p>Se codifica la necesidad siguiendo las mejores prácticas y estándares establecidos</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                <div class="about-info-box">
                    <div class="thumb">
                        <img src="assets/images/about/pruebas.png" alt="Shape">
                    </div>
                    <div class="content">
                        <h6 class="title">Pruebas</h6>
                        <p>Validamos que cada componente funcione de acuerdo a las necesidades
                            definidas por el cliente
                        </p>
                    </div>
                </div>
            </div>
              <div class="col-lg-5">
                  <div class="about-info-box">
                      <div class="thumb">
                          <img src="assets/images/about/diseño.png" alt="Shape">
                      </div>
                      <div class="content">
                          <h6 class="title">Diseño</h6>
                          <p>Definimos la arquitectura, los componentes y tecnología asegurando que
                            cumplan con los objetivos del proyecto
                          </p>
                      </div>
                  </div>
              </div>
                <div class="col-lg-5">
                  <div class="about-info-box">
                      <div class="thumb">
                          <img src="assets/images/about/analisis.png" alt="Shape">
                      </div>
                      <div class="content">
                          <h6 class="title">Analisis</h6>
                          <p>Nos enfocamos a entender de manera detallada
                            tu necesidad para transmitirla a tu equipo de trabajo
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End About Area  -->

  <!-- Start About Area  -->
  <div class="axil-about-area about-style-2">
      <div class="container">
          <div class="row align-items-center mb--80 mb_sm--60">
              <div class="col-lg-5">
                  <div class="about-thumbnail">
                      <img src="assets/images/about/mision.png" alt="about">
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="about-content content-right">
                      <span class="subtitle">Cultura</span>
                      <h4 class="title">Misión</h4>
                      <p>Aumentar el potencial comercial y operativo e nuestros clientes mediante soluciones de
                        software e calidad y venta de equipo industrial que incluyan mejoras a sus procesos de
                        operación o producción, lo que a su vez nos permita incrementar nuestra cartera de servicios
                        y lograr un crecimiento empresarial de IT.
                      </p>
                      <a routerLink="/contact" onclick="setTimeout(() => {location.reload()}, 100)" class="axil-btn btn-outline">Contactanos</a>
                  </div>
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-lg-5 order-lg-2">
                  <div class="about-thumbnail">
                      <img src="assets/images/about/vision.png" alt="about">
                  </div>
              </div>
              <div class="col-lg-7 order-lg-1">
                  <div class="about-content content-left">
                      <span class="subtitle">Cultura</span>
                      <h4 class="title">Visión</h4>
                      <p>Establecerse como una empresa mexicana importante entecnología, ofreciendo servicios
                        de desarrollo de soluciones y trazabilidad industrial e industria 4.0; que incorpore a los mejores
                        talentos en cada área de IT; que cuente con clientes en distintas partes del país y que desarrolle
                        soluciones para distintos ramos del sector industrial, empresarial, particulares y públicos.</p>
                      <a routerLink="/contact" onclick="setTimeout(() => {location.reload()}, 100)" class="axil-btn btn-outline">Contáctanos</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End About Area  -->

</main>

<footer-index></footer-index>
<modal-view-product></modal-view-product>
<header-search-modal></header-search-modal>
<card-dropdown></card-dropdown>
<offer-modal></offer-modal>
<router-outlet></router-outlet>
